---
title: Blog
layout: page
---

<div class="posts">
{% for post in paginator.posts %}
  {% if post.bigpicture %}
  <div class="post big-picture">
  {% elsif post.bigquote %}
  <div class="post big-quote">
  {% else %}
  <div class="post">
  {% endif %}
    {% if post.hidetitle %}
    {% else %}
    <h1 class="title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="date">
      {{ post.date | date: "%B %d, %Y" }}
    </div>
    {% endif %}
    {{ post.content }}
    <div class="post-tags">
      {% assign tags_list = post.tags %}
      <ul>
        {% include tags %}
      </ul>
      <div id="menudivider"></div>
    </div>
  </div>
{% endfor %}
</div>

<div class="paginator">
{% if paginator.next_page %}
<a href="/page{{ paginator.next_page }}/">&larr; Older</a>
{% else %}
<a class="disabled" href="#"></a>
{% endif %}
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a class="next" href="/">Newer &rarr;</a>
{% else %}
<a class="next" href="/page{{ paginator.previous_page }}/">Newer &rarr;</a>
{% endif %}
{% else %}
<a class="disabled" href="#"></a>
{% endif %}
</div>