---
layout: page
title: Tags
group: navigation
---
{% include JB/setup %}
<style type="text/css">
.filters {
  text-align: center;
}
.filter a {
  color: #999;
}
.active {
  color: #222 !important;
}
.filter-posts {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.filter-posts div {
  float: left;
  display: block;
  width: 285px;
  height: 110px;
  font-size: 14px;
}
.filter-posts div:nth-child(odd) {
  padding-right: 15px;
}
.filter-posts div:nth-child(even) {
  padding-left: 15px;
}
.filter-posts span {
  display: block;
}
.filter-posts .date {
  margin-bottom: 0px;
}
.filter-posts .tagline {
  color: #777;
}
</style>
<script type="text/javascript">
  $(function(){
    $('.filters').filters({
    	move: {
    		init: false
    	},
    	css3: {
    		init: false
    	},
    	fade: {
    		opacity: [0.1, 1]
    	},
      container: {
        name: 'filter-posts',
        element: 'div'
      }
    });
    $(["a[rel=",window.location.hash.replace("#", ""),"]"].join("")).click()
  });
</script>
<div class="filters">
  <p>Click on the tags below to filter the posts:</p>
  <div class="filter post-tags">
    <ul>
    {% if site.tags.first[0] == null %}
    {% for tag in site.tags %}
      <li><a href="#{{ tag }}" rel="{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    {% else %}
    {% for tag in site.tags %}
      <li><a href="#{{ tag[0] }}" rel="{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
    {% endif %}
      <li><a href="#" rel="all">all</a></li>
    </ul>
  </div>
  <div class="filter-posts">
    {% for post in site.posts %}
      <div class="{{ post.tags | join " " }}">
        <span class="date">{{ post.date | | date: "%B %e, %Y" }}</span>
        <span class="title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></span>
        <span class="tagline">{{ post.tagline }}</span>
      </div>
    {% endfor %}
  </div>
</div>