#header {
  width: 940px;
  text-align: center;
  position: fixed;
  left: 50%;
  display: inline;
  margin-left: -470px;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.08);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  height: 85px;
  overflow: hidden;
  background-color: white;
}
  #header h1 a {
    /*font-family: 'OutageRegular', sans-serif;*/
    font-family: 'Georgia';
    /*text-transform: uppercase;*/
    font-weight: 600;
    text-decoration: none;
    display: block;
    font-size: 40px;
    line-height: 1;
    color: white;
  }
    #header h1 a:hover {
      color: #000;
    }
  #header #title-small {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -15px;
    width: 100%;
    opacity: 1;
    background-color: white;
    z-index: 100;
  }
    #header #title-small a {
      font-family: 'proxima';
      font-weight: normal;
      font-size: 22px !important;
      padding: 32px 0 28px 40px;
      height: 100%;
      color: black !important;
    }
.content {
  margin-top: 110px;
}
#sidebar {
  position: fixed;
  top: 100px;
  margin-left: 10px;
  height: 220px;
}