<style type="text/css">
  .content {
  margin-left: 55px !important;
  margin-right: 75px;
  }
  .span2 {
    text-align: right;
  }
</style>
<div class="row-fluid">
  <div class="span2">
    <div class="post-detail">
      {{ page.date | date: "%B %d, %Y" }}
    </div>
  </div>
  <div class="span10 post">
    <h1 class="title">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>
<div class="post-tags post-detail">
  {% assign tags_list = page.tags %}
  <ul>
    {% include JB/tags_list %}
  </ul>
</div>
<div class="paginate post-detail">
{% if page.previous %}
  <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&lt; Previous post</a>
{% else %}
  <a class="disabled">&lt; Previous post</a>
{% endif %}
{% if page.next %}
  <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next post &gt;</a>
{% else %}
  <a class="disabled">Next post &gt;</a>
{% endif %}
</div>