<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic|Varela+Round|Alegreya:400italic,400' rel='stylesheet' type='text/css'>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/font.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/pygment.css" rel="stylesheet" type="text/css" media="all">
    <style type="text/css">
    code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit; color: inherit;}
    </style>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/filters.min.js" type="text/javascript"></script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } },
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    });
    MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
      }
    });
    $(document).ready(function(){
      // fix margins of posts with big pictures
      $('.big-picture > *:not(:has(img))').css({
        "width": "600px",
        "margin-left": "auto",
        "margin-right": "auto"
      });
      $('.big-quote > *:not(blockquote)').css({
        "width": "600px",
        "margin-left": "auto",
        "margin-right": "auto"
      });
      // audio tags
      $('a[href^="/media/"]').each(function(){
        $(this).replaceWith("<audio><source src='"+$(this).attr("href")+".ogg' type='audio/ogg; codecs=\"vorbis\"'></source><source src='"+$(this).attr("href")+".mp3' type='audio/mpeg'></source></audio><div class='music-bar'><a class='audio' href='play'><i class='icon-play'></i></a><div class='music-time'></div></div>");
      });
      $('.audio').on('click', function(e){
        e.preventDefault();
        var audio = $(this).parent().prev().get(0);
        if (audio.paused) {
          audio.play();
        } else {
          audio.pause();
        }
      });
      $('audio').on('play', function() {
        $(this).next().children('a').children().attr('class', 'icon-pause');
        audio = $(this).get(0);
        pos = (audio.currentTime / audio.duration) * 650;
        timeleft = audio.duration - audio.currentTime
        rem = 650 - pos;
        $(this).next().children('div').animate({marginLeft: "+="+rem}, 1000 * timeleft, 'linear');
      }).on('pause', function() {
        $(this).next().children('a').children().attr('class', 'icon-play');
        $(this).next().children('div').stop();
      }).on('ended', function() {
        $(this).next().children('a').children().attr('class', 'icon-play');
        $(this).next().children('div').css('margin-left', "-650px");
      })

      // carousel js
      $(".post").filter(".big-picture").each(function(i){
        if ($("img", this).length > 1) {
          $("img", this).wrap("<div class='item'>")
          $(".item", this).eq(0).addClass("active").end().wrapAll("<div class='carousel slide' id='carousel"+i+"'><div class='carousel-inner'>");
          $(".carousel", this).append('<a class="left carousel-controls" href="#carousel'+i+'" data-slide="prev">‹</a>\n<a class="right carousel-controls" href="#carousel'+i+'" data-slide="next">›</a>')
        }
      })
      $('.carousel').carousel({
        'interval': false
      }).on('slid', function(){
        // don't make it loop
        var index = $(this).find(".active").index()
        var len = $(this).find(".item").length
        if (index == 0) {
          $(this).find(".left").hide()
          $(this).find(".right").show()
        } else if (index == len - 1) {
          $(this).find(".right").hide()
          $(this).find(".left").show()
        } else {
          $(this).find(".right, .left").show()
        }
      });
      $('.carousel .item').index($('.active'))
    });
    </script>
  </head>
  <body>
    <div id="site"><div id="canvas">
      <header>
        <div id="first"><a href="/">{{ site.title }}</a></div>
        <div id="second">{{ site.tagline }}</div>
        <div id="menu">
          <ul>
            {% if page.group != "navigation" %}
            <li class="thispage"><a href="/">Blog</a></li>
            {% else %}
            <li><a href="/">Blog</a></li>
            {% endif %}
            {% for node in site.pages %}{% if node.group == 'navigation' %}
            {% if node.title == page.title %}
            <li class="thispage"><a href="{{ node.url }}">{{ node.title }}</a></li>
            {% else %}
            <li><a href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
            {% endif %}{% endfor %}
          </ul>
          <div id="menudivider"></div>
        </div>
      </header>
      <div id="content">
        {{ content }}
      </div>
    </div></div>
  </body>
</html>
